
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');

body {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

.flex-cont {
    
    display: flex;
    gap: 50px;
}

.align-center {
    align-items: center;
}

.flex-v {
    flex-direction: column;
}

.center-cont {
    padding: 30px 20%;
}

.btn-primary {
    color: black;
    text-decoration: none;
    background-color: #B32B2B;
    padding: 15px 30px;
    box-shadow: 5px -7px 0px 0px #7d1e1e;
}
.btn-primary:hover{
box-shadow: -2px 3px 1px 0px #7d1e1e;
bottom:10px;
}

.btn-secondary {
    color: black;
    text-decoration: none;
    background-color: #543636;
    padding: 15px 30px;
    box-shadow: 5px -7px 0px 0px #412727;
}

.btn-secondary:hover{
box-shadow: -2px 3px 1px 0px #412727;
bottom:10px;
}

.add-border {
    border: 10px solid white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 168px;
    background-image: url("https://learn.logikaschool.com/uploads/student/4711440/68920d40b4f90.png");
    background-size: cover;
}

h1 {
    font-size: 90px;
    font-family: "Qwigley", cursive;
    font-weight: 500;
}

nav a {
    background-image: linear-gradient(rgb(11, 11, 11), rgb(66, 66, 66));
    text-decoration: none;
    color: white;
    background-color: #2A2A2A;
    padding: 10px 20px;
    border-radius: 15px;
}

main {
    background-color: #2A2A2A;
}

#intro {
    background-color: #414141;
}

#intro h2 {
    font-size: 50px;
    font-family: "Qwigley", cursive;
    font-weight: 500;
}

#menu img {
    width: 300px;
    height: 300px;
}

#reviews div {
    width: max-content;
    margin: 0 auto;
}

#reviews img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#about div {
    background-image: url("https://learn.logikaschool.com/uploads/student/4711440/68989e799b916.png");
    background-size: cover;
}

#map {
    text-align: center;
}

footer {
    background-image: url("https://learn.logikaschool.com/uploads/student/4711440/68989f8d44ebb.png");
    background-size: cover;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 150px;
    height: 150px;
}

.icon {
    width: 50px;
    height: 50px;
}

.footer {
background-color: #2A2A2A;
}
.menu:hover{
    transform: translateX(200px) scale(1.5);
    transition: 3s ease-in;
}
.menudotted{
 text-decoration: none;
 margin-left: 45%;
 margin-bottom: 2%;
}
